/* Chapter */
.content {
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 20px;
    padding-bottom: 50px;
}

/* Table of Contents */

.toc-list {
    padding-left: 25px;
}

.footer {
    height: 100px;
}

/* Examples */






