
/* Section */

.content {
    padding: 20px 60px 100px 60px;
}

h1 {
    padding-left: 8px;
    border-left: solid 6px;
    border-left-color: #3465a4;
}

h2 {
    padding-left: 8px;
    border-left: solid 4px;
    border-left-color: #4e9a08;
}

/* Chart Container */
.chart-example {
    width: 700px;
    border: solid 1px #ddd;
}