[submodule "chapter07/windmill"]
	path = chapter07/windmill
	url = https://github.com/pnavarrc/windmill.git
[submodule "chapter07/windmill-sample"]
	path = chapter07/windmill-sample
	url = https://github.com/pnavarrc/windmill-sample.git
[submodule "chapter08/hdi-explorer"]
	path = chapter08/hdi-explorer
	url = https://github.com/pnavarrc/hdi-explorer.git
[submodule "chapter12/hdi-explorer"]
	path = chapter12/hdi-explorer
	url = https://github.com/pnavarrc/hdi-explorer.git
