.ocean {
    fill: #bad8e3;
}

.nook {
    fill: #555;
}

.feature {
    fill: #dadbd0;
    stroke: #c4c5b3;
}

.graticule {
    fill: none;
    stroke: #efefef;
    stroke-opacity: 0.5;
}

.label {
    font-size: 22px;
    fill: #555;
    fill-opacity: 0.5;
}

path.place {
    fill: #717d8d;
    fill-opacity: 0.4;
    stroke: #717d8d;
    stroke-width: 0.5;
}

text.place {
    fill: #64747a;
}