<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>{{ page.title }}</title>

    <link href="{{site.baseurl}}/assets/css/book.css" rel="stylesheet">
    <script src="{{site.baseurl}}/assets/js/lib/d3.min.js"></script>
</head>
<body>
    {{content}}
<script src="{{site.baseurl}}/assets/js/lib/jquery.min.js"></script>
<script src="{{site.baseurl}}/assets/js/lib/bootstrap.min.js"></script>
</body>
</html>
